<h2>Curso de Angular</h2>

{{ title }}

<p class="{{cor}}">Meu Paragrafo</p>

<p [class]="cor">Segundo paragrafo</p>

<!-- <button (click)="botaoClick()">Enviar</button> -->

<!-- <input type="text" [(ngModel)]="valorDigitado"> -->


<input type="text" [(ngModel)]="valorDigitado" (blur)="validaCPF()">

<p>
  {{ valorDigitado }}
</p>

<p>
  <button>Enviar</button>
</p>

<p>
  {{resultado}}
</p>

<p>
  <label>CPF</label>
  <input type="text" [(ngModel)] = "cpfDigitado" (blur)="onCpfBlur()">
</p>

<p>
  {{msgCpf}}
</p>

<p>
  <app-meu-primeiro></app-meu-primeiro>
</p>

<input 
  [imask]="mask"
  [unmask]="true"
 >