<table class="table container">
    <tr>
        <th>Nome</th>
        <th>URL</th>
        <th>Mostrar Dados</th>
    </tr>

    <tr *ngFor="let p of pokemons?.results">
        <td> {{ p.name }} </td>
        <td> <a [href]="p.url" target="blank"> {{p.url}} </a> </td>
        <td> <button class="btn btn-info" (click)="onSelecionarClick(p)" > Selecionar </button> </td>
    </tr>

</table>

<p>
    A quantidade de pokemons é igual a {{ pokemons?.count }}
</p>

<app-detalhes-pokemons
    *ngIf="pokemonSelecionadoPai"
    [pokemonSelecionadoDetalhe]="pokemonSelecionadoPai"
></app-detalhes-pokemons>

<tr>
    <td> <button class="btn btn-info"> << </button> </td>
    <td> <button class="btn btn-info"> >> </button> </td>
    <td><select name="Qtd">
        <option value="30">30</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select></td>
</tr>